<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Things to do</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-6 space-y-4 pt-4">
      <h1>Things to do</h1>
      <div class="text-center text-2xl font-bold text-transparent/30 pt-6">Nothing to see here...</div>
    </div>

    <div class="absolute inset-x-0 bottom-2 flex justify-center">
      <div>
        <h2 class="text-xl font-bold leading-7 text-gray-800 sm:truncate sm:text-2xl sm:tracking-tight text-center">Add Item</h2>
        <form>
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Add" />
        </form>
      </div>
    </div>
  </body>
</html>
