{% load tailwind_filters %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Things to do</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11"
            integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
            crossorigin="anonymous">
    </script>
  </head>
  <body>

    <div class="mx-auto max-w-7xl sm:px-6 lg:px-6 space-y-4 pt-4">
      <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-light">Things to do</h1>
      <div id="todo_items"></div>
      <div class="text-center text-2xl font-bold text-transparent/30 pt-6">Nothing to see here...</div>
    </div>

    <div class="absolute inset-x-0 bottom-2 flex justify-center">
      <div>
        <h2 class="text-xl font-bold leading-7 text-gray-800 sm:truncate sm:text-2xl sm:tracking-tight text-center">Add Item</h2>
        <form hx-post="{% url 'action_add_new_todo' %}" hx-target="#todo_items" hx-swap="beforeend">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Add" class="rounded bg-green-600 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600" />
        </form>
      </div>
    </div>
  </body>
</html>
